<!DOCTYPE html>
<!-- A simple HTML CV that uses D3.js-based visualization via the d3-cv-multitimeline library -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="./bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="../example/cv.css" media="screen" />
</head>

<body>
    <div id="svg-holder">
    </div>
    <div id="bio">
        <h1>Work experience</h1>
        <ul id="work">
            <li id="job1">
                <dt>Period</dt>
                <dd class="fromdate">June 2005</dd>
                <dd class="todate">February 2007</dd>
                <dt>Position</dt>
                <dd class="type">Web Developer</dd>
                <dt>Responsibilities</dt>
                <dd class="description">Maintenance and expansion of the existing company web sites</dd>
                <dt>Employer</dt>
                <dd class="title">Some company ltd.</dd>
            </li>
            <li id="job2" class="hidden">
                <dt>Period</dt>
                <dd class="fromdate">November 2007</dd>
                <dd class="todate">January 2008</dd>
                <dt>Position</dt>
                <dd class="type">Web Developer</dd>
                <dt>Responsibilities</dt>
                <dd class="description">Development of new projects, bugfixing and securing completed projects</dd>
                <dt>Employer</dt>
                <dd class="title">Some company 2 ltd.</dd>
                <dt>Used skills</dt>
                <dd>
                    <ul class="skills">
                        <li>PHP</li>
                        <li>HTML/CSS</li>
                        <li>SQL</li>
                        <li>JS</li>
                    </ul>
                </dd>
            </li>
            <li id="job3">
                <dt>Period</dt>
                <dd class="fromdate">February 2008</dd>
                <dd class="todate">January 2009</dd>
                <dt>Position</dt>
                <dd class="type">Backend Web Developer</dd>
                <dt>Responsibilities</dt>
                <dd class="description">blah blah</dd>
                <dt>Employer</dt>
                <dd class="title">Some company 3 ltd.</dd>
            </li>
            <li id="job4">
                <dt>Period</dt>
                <dd class="fromdate">February 2009</dd>
                <dd class="todate">November 2010</dd>
                <dt>Position</dt>
                <dd class="type">Freelance Web Developer</dd>
                <dt>Employer</dt>
                <dd class="title">Self-employed</dd>
            </li>
        </ul>
        <h1>Education</h1>
        <ul id="education">
            {{#each education}}
            <li id="{{id}}">
                <dt>Period</dt>
                <dd class="fromdate">{{from}}</dd>
                <dd class="todate">{{to}}</dd>
                <dt>Label</dt>
                <dd class="label">{{label}}</dd>
                <dt>Name</dt>
                <dd class="name">{{name}} (
                    <a href="{{url}}">url</a>)</dd>
                <dt>Description</dt>
                <dd class="label">{{description}}</dd>
                <dt>Used skills</dt>
                <dd>
                    <ul class="skills">
                        {{#each skills}}
                        <li data-from="{{from}}" data-to="{{to}}" data-strength="{{strength}}" data-description="{{description}}">{{name}}</li>
                        {{/each}}
                    </ul>
                </dd>
            </li>
            {{/each}}
        </ul>
        <h1>Projects and Skills</h1>
        <ul id="projects">
            <li id="some_project" data-where="highschool">
                <dt>Period</dt>
                <dd class="fromdate">October 2007</dd>
                <dd class="todate">May 2008</dd>
                <dt>Name</dt>
                <dd class="title">some name</dd>
                <dt>Description</dt>
                <dd class="description">blah blah</dd>
                <dt>Used skills</dt>
                <dd>
                    <ul class="skills">
                        <li>Pacal/Delphi</li>
                        <li>C++</li>
                        <li data-from="January 2008">PHP</li>
                    </ul>
                </dd>
            </li>
            <li id="some_project2" data-where="job1">
                <dt>Period</dt>
                <dd class="fromdate">February 2008</dd>
                <dd class="todate">December 2008</dd>
                <dt>Name</dt>
                <dd class="title">some name 2</dd>
                <dt>Description</dt>
                <dd class="description">blah blah 2</dd>
                <dt>Used skills</dt>
                <dd>
                    <ul class="skills">
                        <li>C++</li>
                        <li data-from="June 2008">PHP</li>
                    </ul>
                </dd>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        "use strict";

        var directory = new Map();
        var skills = [];
        var skillNames = new Set();

        var itemCallback = function (item) {
            if (directory.has(item.id)) {
                console.error("Duplicate item id " + item.id);
            } else {
                directory[item.id] = item;
            }

            item.skills.forEach(function (skill) {
                skills.push(skill);
                skillNames.add(skill.name);
            });
        }

        console.log(cv);

        var places = cv.data.getItemsData(document, "#work>li, #education>li", itemCallback);
        var projects = cv.data.getItemsData(document, "#projects>li", itemCallback);
        skills.sort(function (a, b) { return (a.to - a.from) < (b.to - b.from); });

        console.log(places);
        console.log(projects);
        console.log(skillNames);
        console.log(skills);


        var holder = document.getElementById("svg-holder");
        var chart = new cv.MutiTimeline(holder, places, skills, skillNames);
        console.log(chart);

        chart.draw();
        var doit;
        window.addEventListener("resize", function () {
            clearTimeout(doit);
            doit = setTimeout(function () { chart.redraw(); }, 150);
        });
    </script>
</body>

</html>